.App {
  text-align: center;
}
h1{
  margin: 20px 0;
  display: inline-block;
  width: 100%;
}
.App-link {
  color: #61dafb;
}
.list-container{
  margin: 20px 0;
}
.rdt_TableHeader{
  display: none !important;
}
.rdt_TableBody .rdt_TableRow{
  text-transform: capitalize;
}

@media (max-width: 992px)
{
  h2{font-size: 28px;}
  .list-table .rdt_TableHeadRow > div:nth-child(4),
  .list-table .rdt_TableBody .rdt_TableRow > div:nth-child(4)
  {display:none }
}
@media (max-width: 768px)
{
  h2{font-size: 28px;}
  .list-table .rdt_TableHeadRow > div:nth-child(4),
  .list-table .rdt_TableBody .rdt_TableRow > div:nth-child(4)
  {display:none }
}

@media (max-width: 640px)
{
  h2{font-size: 26px;}
  .list-table .rdt_TableHeadRow > div:nth-child(4),
  .list-table .rdt_TableBody .rdt_TableRow > div:nth-child(4)
  {display:none }
}


@media (max-width: 480px)
{
  h2{font-size: 24px;}
  .list-table .rdt_TableHeadRow > div:nth-child(3),
  .list-table .rdt_TableBody .rdt_TableRow > div:nth-child(3),
  .list-table .rdt_TableHeadRow > div:nth-child(4),
  .list-table .rdt_TableBody .rdt_TableRow > div:nth-child(4)
  {display:none }
}

#root {
  margin: 25px;
}

/* Navbar links */
.navbar {

  color: white;

}